.card {
  display: flex;
  height: 40rem;
  max-width: 25rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  gap: 1rem;
  background-color: rgba(41, 27, 75);
  color: #fff;
  position: relative;
}

.card__picture {
  width: 100%;
}

.card__details {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 27, 75);
  gap: 2rem;
  height: 20rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.card:hover .card__details {
  transform: translateY(-10rem);
}

.card__heading {
  visibility: visible;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: right;
  align-self: end;
  margin-top: -2rem;
  width: 75%;
  line-height: 2.8rem;
  transition: transform 0.5s;
  transition-timing-function: linear;
}

.card__heading-span {
  padding: 1rem 1.2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: rgba(41, 27, 75);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  transition: transform 0.8s;
  transform: translateY(15rem);
  visibility: hidden;
}

.card:hover .card__list {
  visibility: visible;
  transform: translateY(0rem);
}
