.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  background-color: rgb(41, 27, 75);
}

.footer__content {
  display: flex;
  font-size: 1.6rem;
  gap: 5rem;
  color: rgb(198, 166, 250);
}
