* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  color: rgb(73, 73, 73);
}

#root {
  color: rgb(57, 48, 73);
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 27, 75);
}
main {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #ebdffd;
}

h2 {
  text-align: center;
  padding: 2rem 0 3rem 0;
  color: #fff;
  font-size: 4rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.content-wrapper {
  background-color: #ebdffd;
}

p {
  text-align: center;
  margin-top: 2rem;
}
